.friendItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    .nameItem {
      color: #61dafb;
    }
  }
}

.imgItem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  margin-bottom: 5px;
}

.nameItem {
  font-family: 'Roboto';
  font-size: 15px;
  color: #00008b;
}