.avatarUnfollow {
  background-color: #ff0000;
}
.avatarFollow {
  background-color: #32cd32;
}

.avatarFollow, .avatarUnfollow {
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 25px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.selectedPage {
  font-weight: bold;
  cursor: pointer;
}