.title {
    font-family: 'Caladea';
    font-size: 30px;
    color: #7f81c1;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
}
.formItem {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.formText {
    width: 100%;
    border-radius: 10px;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 15px;
    border: 1px solid #8dad49;
    &:focus {
        outline: none;
    }
}

.formText::placeholder {
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 25px;
    color: #d3d3d3;
}
.formSend {
    padding: 10px 60px 10px 60px;
    font-family: 'Roboto';
    font-size: 15px;
    background: #32cd32;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;

    &:hover {
        color: #32cd32;
        background: #ffffff;
        border: 1px solid #32cd32;
        padding: 9px 59px 9px 59px;
    }

    &:focus {
        outline: none;
    }
}