.wrap {
  display: flex;
  margin-bottom: 20px;

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
  }
  .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
  }
}
.avatar {
  .avatarImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .avatarBtn {

  }
}
.info {
  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    width: 100%;
  }
  .location {
    text-align: right;
  }
}
.item {
  .itemName {

  }
  .itemStatus {

  }
}
.location {
  .locationCountry {
    margin-bottom: 10px;
  }
  .locationCity {

  }
}