.wrap {
  grid-area: header;
  background: #4a76a8;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  padding: 0 50px;

  .itemLink {
    .itemImg {
      width: 80px;
      height: auto;
    }
  }
  .itemLogin {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;

    &:hover {
      color: #32cd32;
    }
    &.active {
      color: #32cd32;
    }
  }
}
.itemLoginActive {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 22px;
  color: #edeef0;
}
