.wrap {
  grid-area: navbar;
  background: #ffffff;
  padding: 20px 10px 0 20px;
  border-radius: 10px;
}
.item {
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
  &:nth-child(4) {
    margin-bottom: 40px;
  }
  &:nth-child(5) {
    margin-bottom: 40px;
  }
  &:nth-child(6) {
    margin-bottom: 80px;
  }
}

.link {
  display: block;
  text-decoration: none;
  width: 100%;
  font-family: 'Federant';
  font-size: 20px;
  color: #4a76a8;
  &.active {
    color: #32cd32;
  }
}

.friendWrap {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}