.content__img {
  width: 100%;
  height: 250px;
  margin-bottom: 30px;

  .img__item {
    width: 100%;
    height: 100%;
  }
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  .info__img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 50px;
  }
  .item {
    font-family: 'Roboto';
  }
}

.item {
  .name {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .item__info {

  }
}

.item__info {
  .item__content {
    display: block;
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}