.dialog {
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .imgItem {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #d3d3d3;
        margin-right: 20px;
    }
    .link {
        text-decoration: none;
        color: #7f81c1;
        &.active {
            color: #32cd32;
        }
    }
}