.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-radius: 10px;

    .avatar {
        width: 80px;
        height: 80px;
        border: 1px solid #282c34;
        border-radius: 10px;
        margin-right: 40px;
    }
    .text {
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 400;
    }
    .like {
        position: absolute;
        right: 20px;
        bottom: 5px;
        color: #ff818d;
        .icon {
            margin-right: 10px;
            color: #ff818d;
        }
    }
}



