.app-wrapper {
  background: #edeef0;
  height: 100%;
  padding-bottom: 30px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.app-wrap {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header"
    "navbar content";
  grid-gap: 20px;
}
.app-wrapper__content {
  grid-area: content;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
}