.title {
    font-family: 'Caladea';
    font-size: 30px;
    color: #7f81c1;
    letter-spacing: 2px;
    margin-bottom: 40px;
    text-align: center;
}

.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;

    .dialogsItem {
        padding: 10px;
        border-right: 2px solid #d3d3d3;
    }

    .messages {
        padding: 10px 20px 10px 30px;
    }
}
.messagesItem {
    margin-bottom: 20px;
    width: 100%;
    padding-top: 20px;
    border-top: 2px solid #d3d3d3;
    display: flex;
    align-items: center;
}
.messagesFormText {
    margin-right: 10px;
    width: 100%;
    border-radius: 10px;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    border: 1px solid #8dad49;
    &:focus {
        outline: none;
    }
}

.messagesFormText::placeholder {
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 20px;
    color: #d3d3d3;
}
.messagesFormSend {
    padding: 15px;
    font-family: 'Roboto';
    background: #ffffff;
    border: none;
    color: #32cd32;
    cursor: pointer;

    &:hover {
        color: #32a032;
    }

    &:focus {
        outline: none;
    }

    .icon {
        font-size: 30px;
    }
}