.item {
  margin-bottom: 20px;
  width: 100%;
  padding-top: 20px;
  border-top: 2px solid #d3d3d3;
  display: flex;
  align-items: center;
}
.form__text {
  margin-right: 10px;
  width: 100%;
  border-radius: 10px;
  resize: none;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  border: 1px solid #8dad49;
  &:focus {
    outline: none;
  }
}

.form__text::placeholder {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 20px;
  color: #d3d3d3;
}
.btn {
  padding: 15px;
  font-family: 'Roboto';
  background: #ffffff;
  border: none;
  color: #32cd32;
  cursor: pointer;

  &:hover {
    color: #32a032;
  }

  &:focus {
    outline: none;
  }

  .icon {
    font-size: 30px;
  }
}